.job-details-container {
    padding: 24px;
    border: 1px solid var(--border-color-6);
    border-radius: 8px;
    margin-bottom: 16px;
}

/* Job Details Header */
.job-details-header h1 {
    font-size: 20px;
    line-height: 1;
    color: var(--black);
    margin: 0;
}

.job-details-header .job-details-labels-wrapper {
    display: flex;
    gap: 24px;
    margin-top: 14px;
    margin-bottom: 24px;
}

.job-details-header .job-details-buttons-wrapper {
    margin-bottom: -8px;
    max-width: 460px;
    width: 100%;
    display: flex;
    gap: 16px;
}

.job-details-header .job-details-buttons-wrapper button {
    flex: 1;
    height: 42px;
    border-radius: 5px;
}

.job-details-buttons-wrapper .btn.job-details-save-button {
    color: var(--color-darkgreen);
    border-color: var(--color-lightmint) !important;
    background-color: var(--color-lightmint) !important;
}

.job-details-buttons-wrapper .btn.job-details-apply-button {
    background-color: var(--color-darkgreen) !important;
}

/* Job Details Content */
.job-details-content {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid var(--border-color-5);
}

.job-details-content h2 {
    font-size: 20px;
    line-height: 1;
    color: var(--black);
    margin: 0px 0px 24px 0px;
}

.job-details-content p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-black-2b);
    margin: 0;
}

.job-details-content ol,
.job-details-content ul {
    margin: 0px;
    padding: 0px 0px 0px 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-black-2b);
}