:root {
    --text-black-2b: #2B2B2B;
    --text-gray-7c: #7C7C7C;

    --color-darkgreen: #004040;
    --color-lightmint: #ECFAFA;
}

/* Below Nav Container CSS */
.below-nav-header-wrapper {
    border-top: 1px solid var(--border-color-3);
}

.below-nav-header-text {
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
}

/* Profile Details Card */
.profile-infocard-wrapper .profile-infocard-header {
    color: var(--text-black-2b);
    padding-bottom: 12px;
    margin-bottom: 18px;
    border-bottom: 1px solid var(--border-color-5);
}

.profile-infocard-wrapper .profile-infocard-details-wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.profile-infocard-details-wrap .profile-infocard-detail span {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 12px;
}

.profile-infocard-details-wrap .profile-infocard-detail h4 {
    line-height: 1;
}

/* Profile Details Card Buttons */
.profile-infocard-wrapper .profile-infocard-buttonwrap {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-infocard-buttonwrap .profile-btn {
    width: 100%;
    height: 42px;
    padding: 16px 12px;
    border-radius: 5px;
}

.profile-btn.btn-primary.btn-changepassword {
    color: var(--color-darkgreen);
    background-color: var(--color-lightmint) !important;
    border-color: var(--color-lightmint) !important;
}

.profile-btn.btn-primary.btn-update-resume {
    background-color: var(--color-darkgreen) !important;
}