.layout-navbar-padding {
    padding-top: 62px;
}

.job-portal-navbar {
    /* border-bottom: 1px solid #eef0f2; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.job-portal-navbar.scrolled {
    background-color: var(--white);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.job-portal-navbar-inner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 8px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-portal-navbar-left {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--black);
}

.job-portal-navbar-hamburger {
    background: transparent;
    border: none;
    font-size: 20px;
    color: #2b3940;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.job-portal-navbar-logo img {
    /* height: 32px; */
    width: auto;
}

.job-portal-navbar-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.job-portal-navbar-btn-explore {
    background-color: #074c4f;
    color: #ffffff !important;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none !important;
}

.job-portal-navbar-btn-explore:hover {
    background-color: #0a5f63;
    box-shadow: 0 4px 12px rgba(7, 76, 79, 0.2);
}

.job-portal-navbar-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.job-portal-navbar-icon-link {
    color: #2b3940;
    font-size: 18px;
    text-decoration: none !important;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    position: relative;
}

.job-portal-navbar-icon-link::after {
    display: none !important;
}

.job-portal-navbar-icon-link:hover {
    color: var(--color-darkgreen);
}

.job-portal-navbar-icons .job-portal-login,
.job-portal-navbar-icons .job-portal-signup {
    font-size: 16px;
    color: var(--black);
}

@media screen and (max-width: 520px) {
    .job-portal-navbar-inner {
        padding: 8px 15px;
    }

    .job-portal-navbar-right {
        gap: 12px;
    }
}